/* Perubahan style pada elemen di HTML */
/* Style utama */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
    
/* Style bagian navbar */
nav {
    z-index: 2;
    position: relative;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}
    
nav a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    padding-bottom: 0.5rem;
}
    
nav a:hover {
    font-weight: bold;
}
    
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
}
    
.pop {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 0.1rem;
}
    
/* Style bagian body */
/* Separasi baris dan kolom */
.row {
    display: table;
    clear: both;
}
    
.column {
    float:left;
}
    
.left {
    width: 60%;
}
    
.mid {
    width: 25%;
}
    
.right {
    width: 15%;
}
    
/* Penanganan penggayaan pada masukan */
.label {
    padding: 0.3rem 1rem;
}
    
.inputs {
    padding: 0.1rem 1rem;
}
    
/* Penaganganan penggayaan peta */
#map { 
    height: 25rem;
    width: 36rem;
}
    
.map {
    padding: 0.1rem 0.5rem;
    margin-left: 3.5rem;
    margin-right: -20rem;
}

/* Penggayaan terhadap luaran dan tata letaknya */
.path {
    padding: 0.1rem 1rem;
    margin-left: 3rem;
    width: 18rem;
    overflow: auto;
}
    
.right h4 {
    margin-left: 1rem;
}
    
h4 {
    margin-bottom: -0.1rem;
}
    
.column h4 {
    margin-bottom: 0.5rem;
}

/* Penanganan penggayaan terhadap komponen button */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}
    
.button:hover {
    background-color: #29762b; /* Green */
    cursor: pointer;
}

.delete-button {
    background-color: #D11A2A; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
    
.delete-button:hover {
    background-color: #9b1822; /* Green */
    cursor: pointer;
}
    
.button-down {
    border-radius: 4px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.5s;
    cursor: pointer;
}
    
.button-down span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
    
.button-down span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
    
.button-down:hover span {
    padding-right: 25px;
    cursor: pointer;
}
    
.button-down:hover span:after {
    opacity: 1;
    right: 0;
}
    
.lengthinput {
    width: 10rem;
    height: 2rem;
    padding-left: 0.5rem;
}
    
.lengthinput2 {
    width: 7rem;
    height: 2rem;
    padding-left: 0.5rem;
}
    
/* Penanganan penggayaan pada komponen tabel */
table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    margin-left: 1rem;
    margin-top: 1rem;
    max-height: 2rem;
}
    
thead {
    background-color: #333;
    color: white;
    font-size: 0.875rem;
    letter-spacing: 2%;
}
    
tbody tr:nth-child(odd) {
    background-color: #ffffff5d;
}
    
tbody tr:nth-child(even) {
    background-color: #eeeeee39;
}
    
th, td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Penanganan penggayaan terhadap konten pop-up */
.popup-content {
    width: 7rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    overflow-y: auto;
}