:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Navbar secrion */
nav {
  z-index: 2;
  position: relative;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
}

.pop {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1.5rem;
}

/* main body */
/* Clear floats after the columns */
.row {
  display: table;
  clear: both;
}

.column {
  float:left;
}

.left {
  width: 60%;
}

.mid {
  width: 25%;
}

.right {
  width: 15%;
}

/* Input section */
.label {
  padding: 0.3rem 1rem;
}

.inputs {
  padding: 0.1rem 1rem;
}

/* Map section */
#map { 
  height: 25rem;
  width: 30rem;
}

.map {
  padding: 0.1rem 1rem;
  margin-left: 3.5rem;
  margin-right: -3.5rem;
}

.right h4 {
  margin-left: 1rem;
}

h4 {
  margin-bottom: -0.1rem;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.lengthinput {
  width: 7rem;
  height: 2rem;
  padding-left: 1rem;
}

/* Table styling */
table {
  border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
  margin-left: 2.5rem;
  margin-top: 1rem;
}

thead {
	background-color: #333;
	color: white;
	font-size: 0.875rem;
	letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff5d;
}

tbody tr:nth-child(even) {
  background-color: #eeeeee39;
}

th, td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}